// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

$primary-color: #A40134;

$primary-color-light: #a4013512;

$secondary-color: #2D2C2C;

$border-radius: 5px;
