@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";
.btn-group-sm > .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon),
.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon).btn-sm {
  padding: calc(0.55rem + 1px) calc(1.25rem + 10px);
  border-radius: ٥px;
}

.form-control {
  border-radius: ٥px;
}

table.dataTable > thead > tr > td:not(.sorting_disabled), table.dataTable > thead > tr > th:not(.sorting_disabled),
table.dataTable thead tr > .dtfc-fixed-left, table.dataTable thead tr > .dtfc-fixed-right {
  background: #eee;
  color: black;
}

.aside {
  background-color: #2D2C2C;
}

.header .header-brand {
  background-color: #2D2C2C;
}

.aside-menu .menu .menu-item .menu-link.active {
  background-color: #ffffff2e;
}

div.dataTables_wrapper div.dataTables_processing {
  top: 27px;
  background: #A40134;
  color: #fff;
  font-weight: bold;
  width: 190px;
}

.btn.btn-primary {
  border-color: #A40134;
  background-color: #A40134;
}

.btn.btn-dark {
  border-color: #2D2C2C;
  background-color: #2D2C2C;
}

.text-primary {
  color: #A40134 !important;
}

.btn.btn-light-primary {
  color: #A40134 !important;
  border-color: #a4013512;
  background-color: #a4013512;
}

.form-check-custom.form-check-solid .form-check-input:checked {
  background-color: #A40134;
}

.btn.btn-light-primary .svg-icon, .btn.btn-light-primary i {
  color: #A40134;
}

.btn-check:active + .btn.btn-light-primary, .btn-check:checked + .btn.btn-light-primary, .btn.btn-light-primary.active, .btn.btn-light-primary.show, .btn.btn-light-primary:active:not(.btn-active), .btn.btn-light-primary:focus:not(.btn-active), .btn.btn-light-primary:hover:not(.btn-active), .show > .btn.btn-light-primary {
  border-color: #A40134;
  background-color: #A40134 !important;
}

.btn-check:active + .btn.btn-primary, .btn-check:checked + .btn.btn-primary, .btn.btn-primary.active, .btn.btn-primary.show, .btn.btn-primary:active:not(.btn-active), .btn.btn-primary:focus:not(.btn-active), .btn.btn-primary:hover:not(.btn-active), .show > .btn.btn-primary {
  border-color: #A40134;
  background-color: #A40134 !important;
}

.aside .aside-toolbar .aside-user {
  border-top: 1px solid #3c3c3c;
  padding: 0 25px;
}

@media (min-width: 992px) {
  .content {
    padding: 15px 0;
  }
}
.active > .page-link, .page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #2D2C2C;
  border-color: var(--bs-pagination-active-border-color);
}
